/*Navigation */
#navbar{
    flex-direction: column;
}



/* Home */
#home{
    height: 500px;


}
#home::before{
    height: 600px
}

/* services */
#services{
    flex-direction: column;

}
#services.box{
    


}


/* Clients Section */
#clients{
    overflow: hidden;
}



/*Contact Us section*/



/* Footer */